<form method="post" action="{{ path('risque_delete', {'id': risque.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ risque.id) }}">

    <button  class="btn btn-primary btn-danger color-block mb-0.5 mx-auto z-depth-1 btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i> </button>

</form>
