{% extends 'base.html.twig' %}

{% block title %}new visite {% endblock %}

{% block body %}

    <div class="card-body">

        <div class="p-1 mb-4 alert alert-success"><h3><i class="fa fa-thumb-tack"> visite </i></h3></div>




        {{ include('visite/_form.html.twig') }}
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary btn-dark btn-lg  color-block mb-3 mx-auto z-depth-1 btn-rounded ">
            </button>
        </div>


    </div>

{% endblock %}